<h1> 
<img src="http://cdn1.medicalnewstoday.com/content/images/articles/274/274620/two-peaches.jpg" width=8% height=8%>
Peaches Math
<img src="http://cdn1.medicalnewstoday.com/content/images/articles/274/274620/two-peaches.jpg" width=8% height=8%>
</h1>
<img src="http://cdn1.medicalnewstoday.com/content/images/articles/274/274620/two-peaches.jpg" width=10% height=10%>
<img src="http://cdn1.medicalnewstoday.com/content/images/articles/274/274620/two-peaches.jpg" width=10% height=10%>
<img src="http://cdn1.medicalnewstoday.com/content/images/articles/274/274620/two-peaches.jpg" width=10% height=10%>
<img src="http://cdn1.medicalnewstoday.com/content/images/articles/274/274620/two-peaches.jpg" width=10% height=10%>
<p>
Puntaje jugador 1 = <%= @puntos1%> y Puntaje jugador 2 = <%= @puntos2%>
</p>
<p>
<%= @operacion %>

<p>
Jugador <%= @turno %>
<form method="post" action="/">
<input type="text" name="respuesta">
<input type="submit" value="jugar">
</form>

<p><%= @rta %></p>


